@{
    ViewData["Title"] = "About | Caser";
}

<div class="text-center">
    <h1>About Caser</h1>
    <p>
        Caser is a web-based application for manage tickets and to-dos for your company.
        It is created by Åsa Lodesjö as a part of her final project in a university course focusing on ASP.NET.<br />
        This application will be further devloped after her studies.
    </p>
</div>