@page
@model ConfirmEmailModel
@{
    ViewData["Title"] = "Confirm email";
}

<h1>@ViewData["Title"]</h1>

<p>
    Your e-mail has been verified.
</p>
<a class="dashb-btn-1" href="./Identity/Account/Login">Proceed to login</a>